/* 初始化 */
*{
    padding: 0;
    margin: 0;
}

/* same */
.flex{
    display: flex;
    align-items:center;
}
.flexleft{
    justify-content: flex-start;
}
.flexright{
    justify-content: flex-end;
}
.listStyle{
    list-style: none;
}
.between{
    justify-content: space-between;
}
.aStyle{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.bg-gray{
    background: rgb(243 244 246) ;
    padding: 10px;
}
/* ----- us start ----- */
body{
    position: relative;
}
.cont-us{
    width: 74px;
    height: 20px;
    background-color: rgb(255 19 62);
    border: 1px solid rgb(252 165 165);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
    bottom: 50px;
    right: 30px;
    position: fixed;
    z-index: 2;
    vertical-align: middle;
}
.cont-us a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
/* ----- us end ----- */

/* ----- header start ----- */
.header-conta{
    height: 64px;
    width: 100%;

}
header{
    width: 100%;
    height: 64px;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 3;
    
}
.headertop{
    height: 64px;
}


.headerList{
    cursor:pointer;
}

.headerImg img:first-child{
    width: 160px;
    height: 38px;
}
.headerImg img:last-child{
    width: 64px;
    height: 22px;
    display: none;
}
.toggle-menu-btn{
    display: none;
}
input{
    display: none;
}


.listWord{
    padding: 0 12px ;
    color: rgb(130 130 130);
}

.secondList{
    list-style: none;
    display: none;
}
@media screen and (width < 806px) {
    .listWord{
        padding: 0 9px;
    }
}

@media screen and (width >= 768px) {
    .haverList:hover .secondList{
        display: block;
        position: absolute;
        background-color: white;
        font-size: 90%;
        transform: translateX(-10px);
        z-index: 1;
    }
}
.haverList:hover{
    color: red;
}

.secondListWord{
    color: rgb(130 130 130);
    margin: 15px 10px;
}
.secondListWord:hover{
    color: red;
}

@media screen and (width < 768px) {
    .headertop{
        position: relative;
        width: 100%;
    }
    .toggle-menu-btn{
        display: inline-block;
        padding: 15px;
    }
    .headercheck{
        display: none;
        font-size: 16px;
        border: 1px solid #f7f7f7;
    }

    .checkloginList{
        display: block;
        width: 100%;
    }

    .listWord{
        padding: 10px;
        border: #e5e7eb;
    }
    .loginLis li{
        padding: 15px;
    }
    input:checked ~ .headercheck{
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background:white;
    }
    .headercheckdiv{
        display: block;
        
    }
    .headerList{
        display: block;
        width: 100%;
        
    }
    .secondList{
        position: relative;
        display: none;
    }
    input:checked ~ .secondList{
        display: block;
        width: 100%;  
    }
    .listStyle{
        position: relative;
        padding: 10px;
    }
    .secondListWord{
        margin: 12px;
    }
    input:checked ~ .secondList .secondListWord::before{
        content: "";
        position: absolute;
        height: 2px;
        background-color: #e5e7eb;
        width: 15px;
        border-radius:3px;
        left: 0;
    }
    .secondListWord1::before{
        top: 32px;
    }
    .secondListWord2::before{
        top: 67px;
    }
    .secondListWord3::before{
        top: 98px;
    }
    .secondListWord4::before{
        top: 32px;
    }
    .secondListWord5::before{
        top: 67px;
    }
    .secondListWord6::before{
        top: 99px;
    }
    .secondListWord7::before{
        top: 134px;
    }
    .secondListWord8::before{
        top: 167px;
    }
    .secondListWord9::before{
        top: 200px;
    }
    .flexright{
        justify-content: center;
    }
    
    .headerImg img:first-child{
        display: none;
    }
    .headerImg img:last-child{
        width: 64px;
        height: 22px;
        display: block;
        padding: 15px;
    }

}



/* ----- header end ----- */

/* ----- slide start ----- */
.slide-section{
    width: 100%;
    position: relative;
}
.slide-container {
    position: relative;
    overflow: hidden;
}

.slide-track{  
    font-size: 0;
    transition: transform 2000ms ease-in;
}
.slideImg{
    position: relative;
    flex: 0 0 100%;
}

.slideImg .img1{
    width: 100%;
    opacity: 0.3;
    max-height: 550px;
}

.slideImg .img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 550px;
    max-width: 100%;
}
.slide-buttons-container{
    justify-content: space-around;
    font-size: 0;
}

.slide-buttons{
    height: 48px;
    background-color: rgb(41 48 62/0.2);
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    border: 0 transparent;
    cursor:pointer
}

.slide-buttons:hover{
    background-color: #ff133e;
    color: white;
}
  
@media screen and (width < 768px) {
    .slide-buttons-container{
        display: none;
    }
    .slide-track{
        padding: 0;
    }
    

    
}

/* ----- slide end ----- */

/* ----- product start ----- */
.products-area{
    padding: 40px 0;
}
.products-title-area{
    height: 48px;
    margin-bottom:100px;
    position: relative;
}
.products-title{
    font-size: 48px;
    margin: auto;
}

.products-title::before{
    content: "";
    position: absolute;
    height: 3px;
    background-color: #ff133e;
    width: 48px;
    bottom: -25px;
    border-radius:3px;
    transform: translate(150%);
    
}

.products-card-area{
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}

.products-cards{
    width:calc((100% - 40px) / 3) ;
    padding: 16px 16px 12px 16px;
    margin: 0 1px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    position: relative;
    cursor: pointer;
}

.typeof-class{
    
    width: 70px;
    height: 32px;
    color: white;
    background-color: #29303e;
    position: absolute;
    top: 5px;
    left: -7px;
    z-index: 1;
    text-align:center;
    align-content: center;
    padding: 0 10px;
}
.typeof-class::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 8px solid #29303e;
    border-left: 8px solid transparent;
    top: 32px;
    left: 0;
}


.product-img{
    width: 100%;
    height: auto;
    background-color:white;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.numberof-class{
    clip-path: polygon(25% 0, 100% 0%, 100% 53%, 43% 53%) ;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(82 82 91);
    color: white;
    width: 100px;
    height: 40px;
    text-align:right;
    align-content: top;
    padding: 5px 5px;

}
.product-img img{
    width: 100%;
    height: auto;
   
}


.about-teacher{
    justify-content: center;
    position: absolute;
    bottom: 1%;
    
    
}

.teacher-img{
    align-items: flex-end;
}

.teacher-img img{
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: 4px solid white;
    border-radius: 50%;
    
}
.teacherName{
    padding-left: 20px;
    font-size: 15px;
    color: #828282;
    
    
}

.product-name{
    font-size: 20px;
    border-left: 1.6px solid #ff133e;
    margin: 8px 0;
    padding: 0 10px ;
    height: 53px;
    align-content: center;
    
}

.product-content p{
    font-size: 16px;
    color: #828282;
    margin-bottom: 32px;
    line-height: 2;
    
}
.product-p{
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

.price-area{
    margin-bottom:10px ;
   
}

.price-area .class-part{
    color: #bdbdbd;
    font-size: 16px;
    margin: 0;
}
.price-area .price{
    font-size: 16px;
    color: #ff133e;
    margin: 0;
    font-weight: bold;
}
@media screen and (width < 768px) {
    .products-cards{
        width:100% ;
    }
}


/* ----- product end ----- */

/* ----- astro start ----- */

.astro-area {
    padding-top: 50px;
    
  }
  
  .astro-area .astro-bgimg {
    background: url(https://dmh6legpso131.cloudfront.net/images/astrocamp/home/astrocamp-red-rocket.svg) center bottom / 100% no-repeat;
    min-height: 680px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 100px;
  }
  
  .astro-area .caption {
    font-size: 60px;
    font-weight: bold;
    color: #E51F58;
  }
  
  .astro-area .sub-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .astro-area .content {
    color: #52525b;
    max-width: 35rem;
    margin: 2.5rem auto 0;
  }
  
  .astro-area .content * {
    font-size: 24px;
    line-height: 1.5em;
  }
  
  .bg-pink{
    background:#e51f58;
    width: 100%;
  }
  .video {
    background:#e51f58;
    max-width: 1200px;
    text-align: center;
    padding-top: 150px;
    margin-top: -221px;
    flex-direction: column;
    margin: auto;
  }
  
  .video h3 {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
  }
  
  .video div {
    margin: 50px auto 0 auto;
    padding-bottom: 70px;
    position: relative;
  }
  
  .video div i {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 70px;
    width: 80px;
    height: 70px;
    z-index: -1;
    color: #29303e;
  }
  
  .video .fa-youtube::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: #fff;
    width: 50px;
    margin: auto;
    z-index: -1;
  }
  
  .video div i:hover {
    color:red;
  }
  
  .video video {
    width: 100%;
  }
  .knowBtn button{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #e51f58;
    padding: 12px 16px;
    border-radius: 9999px;
    width: 148px;
    border: transparent;
    cursor: pointer;
    margin-top: 30px;
  }
  
  @media (max-width: 1200px) {
    .video {
      padding-top: 0px;
      margin-top: 0px;
    }
  }


/* ----- astro end ----- */

/* ----- article start ----- */
.article-card-area{
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 15px;
}
.article-cards{
    display: grid;
    width: calc((100% - 96px - 15px) / 2);
    grid-template-columns:1fr 2fr;
    grid-template-rows:1fr;
    padding: 16px 24px;
    background: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    cursor: pointer;
}
.article-img{
    width: 100%;
    height: 144px;
    border-radius: 5px;
    overflow: hidden;
}

.article-img img{
    transform: translate(-12%);
    height: 100%;
}

.article-day{
    justify-content: space-between;
    color: #bdbdbd;
}

.article-text{
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding-left: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.article-text h3{
    font-size: 28px;
    width: 100%;
    padding-left:10px ;
}

.article-text p{
    font-size: 16px;
    width: 100%;
    padding:0 10px;
}

.article-btn{
    margin: 40px auto;
}

.article-btn button{
    width: 116px;
    height: 48px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #ff133e;
    border: transparent;
    cursor: pointer;
    border-radius: 9999px;
    
}
@media screen and (width < 768px) {
    .article-cards{
        width: 100vw;
    }
   
    

}
/* ----- article end ----- */

/* ----- bis start ----- */
.bis-title-area{
    margin-bottom: 50px;

}
.bis-title{
    color: white;
}

.bg-blue{
    background-color:rgb(41 48 62);
    font-size: 0;
    padding: 100px 0 150px 0;
    clip-path: polygon(0 10%, 75% 0%, 100% 10%, 100% 90%, 25% 100%, 0 90%);
}

.bis-card-area{
    row-gap: 15px;
}

.bis-cards{
    width: calc((100% - 15px)/2);
    background: white;
    border-radius: 5px;
    cursor: pointer;
}
.bis-img img{
    border-radius: 5px;
    width: 100%;
    
}

.bis-text h3{
    font-size: 24px;
    margin: 16px 0 16px 16px;
}

.bis-edit{
    font-size: 16px;
    margin: 0 16px;
    line-height: 2;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.bis-day{
    margin: 16px 16px 16px 0;
    text-align: right;
}
.bis-day button{
    border: transparent;
    background: white;
    font-size: 16px;
    height: 24px;
    color: #ff133e;
    cursor: pointer;
}
@media screen and (width < 768px) {
    .bis-cards{
        width: 80%;
        margin:auto;
    }
}
/* ----- bis end ----- */

/* ----- footer start ----- */
footer{
    width: 100%;

  
}
.footer-about{
    background: rgb(41 48 62);
    padding: 56px 8px;
    
}
.footer-about-container{
    width: 100%;
    margin: auto;
}



.footer-about-container img{
    width: 186px;
    height: 36px;
    
}
.connection-5x{
    margin-top: 28px;

}

.connection-inf-li{
    color: white;
    font-size: 16px;
}

.connection-inf-li-a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.connection-inf{
    width: 362px;
  

}

.connection-nav{
    width: 496px;
    flex-direction: column;
    justify-content: space-between;
}


.footer-int{
    
    background: rgb(27,36,48);
    color: #94A3B8;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
}
.connection-inf-nav-li{
    width: 496px;
    justify-content: space-between;
    margin: 10px;
}

.footer-int-a{
    text-decoration: none;
    color: #94A3B8;
    font-size: 16px;
}
.footer-int-container p{
    width:100%;
}

.footer-int-span{
    padding: 0 5px;
}
@media screen and (width < 768px) {
    .connection-5x{
        display: block;
    }
    .connection-inf-nav-li{
        display: inline-block;
        width: fit-content;
        margin-left: 0;
        padding-left: 0;
    }
    .connection-nav{
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        margin-top: 10px;
        align-items: flex-start;
    }
    .connection-inf-nav-li li{
        margin: 10px ;
    }
    .footer-about{
        background: rgb(41 48 62);
        padding: 56px 8px 40px 8px;
    }   
    .connection-inf-nav-li2{
        align-items: flex-start;
    }
    .footer-int p{
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }
    .footer-int-span{
        display: none;
    }
    .footer-int span{
        padding: 5px;
    }
    .bisName{
        
        text-align: center;
        line-height: 2;
    }
}